.TitleName{
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    width: auto;
    height: auto;
}
.TitleBlock{
    width: 100%;
    margin-top: 72px;
    display: flex;
    justify-content: center;
}
.TitleBlockContent{
    width: 1120px;
}
